<h1 class="title">Поиск страны</h1>
<section class="search">
    <div class="search-form">
        <span class="search-text">Введите название страны</span>
        <label class="search-label">
            <input class="search-input" id="js-input" type="text" placeholder="название страны" autocomplete="off" />
        </label>
    </div>
    <div class="search-result"></div>
</section>